<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>PONG</title>
		<style>
* {
	padding: 0;
	margin: 0;
}
      canvas {
	      background: #eee;
	      display: block;
	      margin: 0 auto;
      }
		</style>
	</head>
	<body>
		<canvas id="myCanvas" width="1080" height="720"></canvas>

		<script>
			const canvas = document.getElementById("myCanvas");
			const ctx = canvas.getContext("2d");
			let x = canvas.width / 2;
			let y = canvas.height - 10;
			//let dx = 2;
			//let dy = -2;
			let dx = (canvas.width / 2) / 200;
			let dy = -1 * ((canvas.height / 2) / 200);
			const ballRadius = 10;
			const paddleHeight = 150;
			const paddleWidth = 10;
			let leftPaddle = (canvas.height - paddleHeight) / 2;
			let rightPaddle = (canvas.height - paddleHeight) / 2;
			let leftPaddleRightPressed = false;
			let leftPaddleLeftPressed = false;
			let rightPaddleRightPressed = false;
			let rightPaddleLeftPressed = false;
			let interval = 0;
			let leftScore = 0;
			let rightScore = 0;
			let relativeIntersectionY = 0;
			let normalizedIntersectionY = 0;
			let bounceAngle = 0;
			let ballSpeed = 4;

			function drawBall() {
				ctx.beginPath();
				ctx.arc(x, y, ballRadius, 0, Math.PI * 2);
				ctx.fillStyle = "#0095DD";
				ctx.fill();
				ctx.closePath();
			}

			function draw() {
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				drawBall();
				drawLeftPaddle();
				drawRightPaddle();
				drawScore();
				x += dx;
				y += dy;
				if (x + dx < ballRadius)
				{
					if (y > leftPaddle && y < leftPaddle + paddleHeight)
					{
						relativeIntersectionY = (leftPaddle + (paddleHeight / 2)) - y;
						normalizedIntersectionY = (relativeIntersectionY / (paddleHeight / 2));
						bounceAngle = normalizedIntersectionY * (5*Math.PI/12);
						ballSpeed += 0.2;
						dx = ballSpeed*Math.cos(bounceAngle);
						dy = ballSpeed*-Math.sin(bounceAngle);
					}
					else
					{
						rightScore++;
						if (rightScore === 3)
						{
							alert("GAME OVER : PLAYER 2 HAS WON");
							document.location.reload();
							clearInterval(interval);
						}
						clearInterval(interval);
						interval = null;
						x = canvas.width / 2;
						y = canvas.height - 10;
						dx = -1 * (canvas.width / 2) / 200;
						dy = -1 * (canvas.height / 2) / 200;
						leftPaddle = (canvas.height - paddleHeight) /2;
						rightPaddle = (canvas.height - paddleHeight) /2;
						interval = setInterval(draw, 8);
					}
				}
				else if (x + dx > canvas.width - ballRadius)
				{
					if (y > rightPaddle && y < rightPaddle + paddleHeight)
					{
						relativeIntersectionY = (rightPaddle + (paddleHeight / 2)) - y;
						normalizedIntersectionY = (relativeIntersectionY / (paddleHeight / 2));
						bounceAngle = normalizedIntersectionY * (5*Math.PI/12);
						ballSpeed += 0.2;
						dx = -ballSpeed*Math.cos(bounceAngle);
						dy = ballSpeed*-Math.sin(bounceAngle);
					}
					else
					{
						leftScore++;
						if (leftScore === 3)
						{
							alert("GAME OVER : PLAYER 1 HAS WON");
							document.location.reload();
							clearInterval(interval);
						}
						clearInterval(interval);
						interval = null;
						x = canvas.width / 2;
						y = canvas.height - 10;
						dx = (canvas.width / 2) / 200;
						dy = -1 * ((canvas.height / 2) / 200);
						leftPaddle = (canvas.height - paddleHeight) / 2;
						rightPaddle = (canvas.height - paddleHeight) / 2;
						interval = setInterval(draw, 8);
					}
				}
				if (y + dy > canvas.height - ballRadius || y + dy < ballRadius)
					dy = -dy;

				if (leftPaddleRightPressed)
				{
					leftPaddle = Math.min(leftPaddle + 7, canvas.height - paddleHeight);
				}
				else if (leftPaddleLeftPressed)
				{
					leftPaddle = Math.max(leftPaddle - 7, 0);
				}

				if (rightPaddleRightPressed)
				{
					rightPaddle = Math.min(rightPaddle + 7, canvas.height - paddleHeight);
				}
				else if (rightPaddleLeftPressed)
				{
					rightPaddle = Math.max(rightPaddle - 7, 0);
				}
			}

			function drawLeftPaddle() {
				ctx.beginPath();
				ctx.rect(0, leftPaddle, paddleWidth, paddleHeight);
				ctx.fillStyle = "#0095DD";
				ctx.fill();
				ctx.closePath();
			}

			function drawRightPaddle()
			{
				ctx.beginPath();
				ctx.rect(canvas.width - paddleWidth, rightPaddle, paddleWidth, paddleHeight);
				ctx.fillStyle = "#0095DD";
				ctx.fill();
				ctx.closePath();
			}

			function drawScore() {
				ctx.font = "16px Arial";
				ctx.fillStyle = "#0095DD";
				ctx.fillText(`Player 1: ${leftScore}`, 8, 20);
				ctx.fillText(`Player 2: ${rightScore}`, 8, 40);
			}


			document.addEventListener("keydown", keyDownHandler, false);
			document.addEventListener("keyup", keyUpHandler, false);
			function keyDownHandler(e) {
				if (e.key === "Right" || e.key === "ArrowRight")
				{
					rightPaddleLeftPressed = true;
				}
				else if (e.key === "q" || e.key === "Q")
				{
					leftPaddleLeftPressed = true;
				}
				else if (e.key === "e" || e.key === "E")
				{
					leftPaddleRightPressed = true;
				}
				else if (e.key === "Left" || e.key === "ArrowLeft")
				{
					rightPaddleRightPressed = true;
				}
			}

			function keyUpHandler(e) {
				if (e.key === "Right" || e.key === "ArrowRight")
				{
					rightPaddleLeftPressed = false;
				}
				else if (e.key === "q" || e.key === "Q")
				{
					leftPaddleLeftPressed = false;
				}
				else if (e.key === "e" || e.key === "E")
				{
					leftPaddleRightPressed = false;
				}
				else if (e.key === "Left" || e.key === "ArrowLeft")
				{
					rightPaddleRightPressed = false;
				}
			}

			interval = setInterval(draw, 8);

		</script>
	</body>
</html>